:root {
    /* variables! */
    /* font stuff */
    --headings-font-family: 'Fjalla One', sans-serif;
    --headings-font-weight: 400;
    --headings-line-height: 1.4;
    --headings-color: $white;

    /* colors */
    --brand-red: #d00202;
    --mt-black: #020204;
    --mt-dark1: #0d0d12;
    --mt-dark2: #13161e;
    --mt-dark3: #14192b;
    --mt-dark4: #1c1c1d;
    --mt-dark5: #3a3a3b;
    --mt-border-color: rgba(255, 255, 255, 0.3);
    --azure: #01a5ff;
    --gray: #696875;

    /* heights */
    --filters-bar-height: 60px;
}

.font {
    font-family: var(--headings-font-family);
    font-weight: var(--headings-font-weight);
    line-height: var(--headings-line-height);
    color: var(--headings-color);
}

.button {
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollbar {
    overflow: auto;
}
.scrollbar::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

.scrollbar::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-corner {
    background: var(--mt-dark4);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #ffffff50;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
