.root {
    height: var(--table-height);
    max-height: var(--table-height);
    box-sizing: border-box;
    position: 'absolute';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: 'hidden';
}

.customSidebar {
    height: var(--scroll-height);
    max-height: var(--scroll-height);
    width: 300px;
    z-index: 2;
    position: 'absolute';
    top: 0;
    bottom: 0;
    transition: background 0.2s ease, padding 0.8s linear;
    -webkit-transition: '-webkit-transform .3s ease-out';
    will-change: 'transform';
    overflow-y: 'auto';
    background: $dark;
    color: $white-opacity8;
    border-right: 1px solid $dark2;
}

.customContent {
    z-index: 2;
    position: 'absolute';
    top: 0;
    bottom: 0;
    transition: background 0.2s ease, padding 0.8s linear;
    -webkit-transition: '-webkit-transform .3s ease-out';
    will-change: 'transform';
    overflow-y: auto !important;
}

.sidebar-header {
    padding: 12px;
    background: #000;
    height: 56px;
}

.sidebar-header .close {
    color: #fff;
    text-shadow: none;
    opacity: 1;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.sidebar-detail-rank.full-width {
    width: 100%;
    padding: 10px 0 0 10px;
}
.sidebar-detail-rank {
    width: 50%;
    padding: 5px;
}

.sidebar-detail-rank ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 2px;
    padding: 10px;
    background: $black;
    list-style: none;
}

.sidebar-detail-rank li {
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 8px;
}

ul.sidebar-detail-list {
    white-space: nowrap;
    margin-bottom: 0;
}

.sidebar-detail-overview {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: $dark;
}

.sidebar {
    * {
        font-weight: 400;
    }
    h5 {
        font-size: 14px;
        font-weight: 700;
        text-transform: none;
    }
    .spins-label {
        color: #999;
        font-size: 10px;
    }
    .sidebar-header .test-date {
        color: $white-opacity8;
    }

    .test-date {
        font-size: 10px;
    }
    .gauge-info {
        color: #999;
        vertical-align: middle;
        display: inline-block;
        margin-left: 8rem;
    }
    ul.sidebar-detail-list {
        white-space: nowrap;
        margin-bottom: 0;
        li {
            width: 25%;
        }
        &.five-column li {
            width: 20%;
            text-align: center;
        }
    }
    .sidebar-detail-rank.similar-station {
        background: $dark;
    }

    .similar-station ul {
        background-color: $black;
        margin: 0;
        border-bottom: 1px solid $white-opacity3;
    }
    .gauge-icon {
        width: 15px;
        height: 5px;
        margin-top: 1px;
        background: #d9d9d9;
        &.active {
            background: $music-tracker-quintile-4;
        }
    }
    .empty-label {
        color: #999;
        width: 100%;
        padding: 15px;
        text-align: center;
    }
}
