label {
    margin: 0 !important;
}

.squad-card {
    width: 49% !important;
    float: left;
}

.squad-card img {
    height: 80px;
    border-radius: 8px;
    margin: 20px 0;
}

.select-type-cont {
    margin: 20px 0;
    padding: 2%;
}

#squad-type-label {
    color: white;
}
#squad-type {
    color: white
}