.columnHeadersContainer {
    display: flex;
    border-bottom: 1px solid var(--mt-border-color);
    background-color: var(--mt-dark1);
    z-index: 1;
    position: sticky;
    top: 38px;
}

.columnHeadersContainer > * {
    height: 62px;
}
